{% extends "base_generic.html" %}

{% block content %}

  <script type="text/javascript" >
    $(document).ready(function() {
      $('#coursetable').DataTable( {
          "order": [[ 2, "asc" ]],
          "displayStart": 0,
          "lengthMenu": [ 10 ,25, 50, 100 ]
      } );
    } );
  </script>


<div class="inside-article">
		
    <header class="entry-header">
      <h1 class="entry-title" itemprop="headline">Courses Reading List – Fall 2019</h1>
    </header>

  
<div class="entry-content" itemprop="text">
    <p>These textbooks are on reserve at the Information Desk of Fenwick Library, or at the Arlington Campus or SciTech Campus libraries (check the “Campus” column below).</p>
<ul>
<li>Students may borrow these textbooks for a 2-hour loan period</li>
<li>Visit <a href="https://library.gmu.edu/textselect">https://library.gmu.edu/textselect</a> for more information on the library’s TextSelect service.</li>
</ul>
<p>To see other ways in which University Libraries supports affordable education, visit our <a href="https://oer.gmu.edu">Open Educational Resources (OER) site</p>
</div>


<div id="example_wrapper" class="dataTables_wrapper">
    
    <table id="coursetable" class="display dataTable" style="width: 100%;" role="grid" aria-describedby="example_info">
    <thead>
      <tr role="row"><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Campus: activate to sort column ascending" style="width: 30px;">Campus</th>
        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Code: activate to sort column ascending" style="width: 20px;">Code</th>
        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 150px;">Course Name</th>
        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 20px;">Section</th>
        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Instructor: activate to sort column ascending" style="width: 100px;">Instructor</th>
        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width:250px;">Citation Title</th>
        <th class="sorting_desc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="End Date: activate to sort column ascending" aria-sort="descending" style="width: 76px;">Call Number</th>
      </tr>
    </thead>
    <tbody>
        {% for course in obj %}
            {% for book in course.citations %}
                <tr>
                    <td>{{course.address}}</td>
                    <td>{{ course.code }}</td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.section }}</td>
                    <td>{{course.teacher}}</td>
                    <td>{{ book.metadata.title}}</td>
                    <td>{{ book.metadata.call_number }}</td>
                </tr>
            {% endfor %}
      {% endfor %}
    </tbody>
  </table>
   

</div>
{% endblock %}
